body {
  background: #333;
  font-size: 16px;
}

.tab-menu {
  background: #f2f2f2;
}

.tab-menu button {
  font-weight: 700;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  padding: 2em;
}

.loginBox {
  text-align: center;
}

.login h1 {
  display: block;
  color: #f2f2f2;
  padding: 1em 0;
}

.login button, .login button:active {
  background: #720e9e !important;
  border: none;
}

.login button:hover {
  background: #5b0b7e;
}

.login .icon {
  font-size: 2em;
  color: #f2f2f2;
  display: block;
  margin: .5em auto;
}

.login p {
  color: #fff;
}

.card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  padding: 2em;
  padding-bottom: 4em;
}

.card img {
  max-width: 75px;
}


.card div {
  cursor: pointer;
  margin-top: 2em;
  color: #007bff;
}

table {
  max-width: 600px;
  text-align: center;
  margin: 2em auto;
  margin-top: 1em;
  background: #fff;
}

thead tr {
  background: #f2f2f2;
}

th {
  width: 33.333%;
  vertical-align: middle;
}

#root table td {
  vertical-align: middle;
  font-weight: bold;
  color: #000;
}


.avg {
  font-weight: 400;
  color: #000;
  display: block;
}

h2, h4 {
  text-align: center;
}

.matchup h2 {
  color: #f2f2f2;
}

.header {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header svg {
  color: #f2f2f2;
  height: 100%;
  font-size: 2rem;
  margin: 0 1em;
  cursor: pointer;
}

.header svg.disabled {
  opacity: 0.5;
  cursor: default;
}

.loading, .help {
  width: 100%;
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}

.help {
  background-color: #222;
  min-height: 100vh;
}

.help p {
  padding: 1em;
}

.help a {
  color: #f2f2f2;
}

.help h2 {
  padding-top: 1em;
}

.help h3 {
  font-size: 1em;
  margin: 0;
}

.helpBox {
  width: 600px;
  padding-bottom: 1em;
}

#root .swatchTable, #root .swatchTable * {
  background: none;
  color: #f2f2f2;
  border: 0;
}

.swatchTable td {
  width: 25%;
}

td.swatch {
  width: 50%;
}

#root td.swatch div {
  height: 2em;
  background: linear-gradient(to right, var(--stops, transparent, transparent));
}

.player-filters {
  background: #f2f2f2;
}

.filters {
  display: flex;
  justify-content: center;
}

.filters button {
  margin: 1rem;
}

.filters>div {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.pagination {
  justify-content: center;
}

#root table.player-table td {
  font-weight: 400;
}

.my-team {
  background: #ddd;
  border-color: #bcbcbc;
}

th.stat {
  cursor: pointer;
}

th.weight0, .weight0 {
  background: rgb(100% 0% 0%);
}

th.weight1, .weight1 {
  background: rgb(250 198 0);
}

th.weight2, .weight2 {
  background: #f2f2f2;
}

th.weight3, .weight3 {
  background: rgb(149 247 0);
}

th.weight4, .weight4 {
  background: rgb(0 200 45);
}

ul.players-help {
  padding-left: 0;
}

ul.players-help li {
  list-style-type: none;
  text-align: left;
  position: relative;
  height: 100%;
  vertical-align: middle;
}

.example-block {
  width: 4em;
  text-align: center;
  display: inline-block;
}

.example-cell {
  display: inline-block;
  padding: .5rem;
  color: var(--bs-body-color);
  font-weight: 700;
  border: 1px solid var(--bs-border-color);
  margin: 2px 0;
}

.helpBox ul li {
  text-align: left;
  margin-left: 2rem;
}

.footer {
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  margin: 1em 0;
}

.footer a, .login a {
  color: #f2f2f2;
}

.mobile {
  display: none;
}
@media only screen and (max-width: 750px) {
  .mobile {
    display: table-row;
    text-align: left;
    border-top: 2px solid #222 !important;
  }
}
@media only screen and (max-width: 900px) {
  .player-table {
    overflow: scroll;
    max-width: 100vw;
    display: block;
  }
}

.desktop {
  display: none;
}
@media only screen and (min-width: 751px) {
  .desktop {
    display: table-cell;
  }
}