body {
  background: #333;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 2em;
}

.loginBox {
  text-align: center;
}

.login h1 {
  display: block;
  color: #f2f2f2;
  padding: 1em 0;
}

.login button, .login button:active {
  background: #720e9e !important;
  border: none;
}

.login button:hover {
  background: #5b0b7e;
}

.login .icon {
  font-size: 2em;
  color: #f2f2f2;
  display: block;
  margin: .5em auto;
}

.login p {
  color: #fff;
}

.card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  padding: 2em;
  padding-bottom: 4em;
}

.card img {
  max-width: 75px;
}


.card div {
  cursor: pointer;
  margin-top: 2em;
  color: #007bff;
}

table {
  max-width: 600px;
  text-align: center;
  margin: 2em auto;
  margin-top: 1em;
  background: #fff;
}

thead tr {
  background: #f2f2f2;
}

th {
  width: 33.333%;
  vertical-align: middle;
}

td {
  vertical-align: middle;
  font-weight: bold;
}

.avg {
  font-weight: 400;
  color: #555;
  display: block;
}

h2 {
  text-align: center;
}

.matchup h2 {
  color: #f2f2f2;
}

.header {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header svg {
  color: #f2f2f2;
  height: 100%;
  font-size: 2rem;
  margin: 0 1em;
  cursor: pointer;
}

.header svg.disabled {
  opacity: 0.5;
  cursor: default;
}

.loading, .help {
  width: 100%;
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}

.help {
  background-color: #222;
  min-height: 100vh;
}

.help p {
  padding: 1em;
}

.help a {
  color: #f2f2f2;
  padding-bottom: 1em;
}

.help h2 {
  padding-top: 1em;
}

.helpBox {
  width: 600px;
}

.swatchTable, .swatchTable * {
  background: none;
  color: #f2f2f2;
  border: 0;
}

.swatchTable td {
  width: 25%;
}

td.swatch {
  width: 50%;
}

td.swatch div {
  height: 2em;
  background: linear-gradient(to right, var(--stops, transparent, transparent));
}

.footer {
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  margin: 1em 0;
}

.footer a, .login a {
  color: #f2f2f2;
}